.counter {
  background: white;
  border-radius: 10px;
  min-width: 96px;
  display: flex;
  flex-direction: column;
  padding: 12px 30px;

  &__title {
    text-align: center;
    margin-bottom: 10px;
    color: #1A42C0;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__value {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
}