@import '../../assets/globals';

.signs-bonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 42px;

  background-size: calc(100% - var(--sign-size) / 2);
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: calc(50%);

  &__row {
    display: flex;
    justify-content: center;
    gap: calc(var(--sign-size) / 2);

    &_middle {
      gap: calc(var(--sign-size)*1.5);
      margin-bottom: calc(var(--sign-size) / 2);
    }
  }

}