@import "src/assets/globals";

.sign__button {
  background: none;
  height: $sign-size;
  width: $sign-size;
  border-radius: 50%;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;

  &:hover::before {
    opacity: 0.15;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    z-index: -10;
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(21, 26, 61, 0)) no-repeat;
    opacity: 0;
    transition: all 0.1s linear;
    pointer-events: none;
  }
}

.sign {
  height: $sign-size;
  width: $sign-size;
  border: 15px solid orangered;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
