.App {
  min-height: 100vh;
  background: radial-gradient(#1F3756, #171F42) no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 16px 24px;
}