.footer {
  width: 100%;
  display: flex;
  justify-content: end;

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__button {
    text-transform: uppercase;
    width: 124px;
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      transition: all 0.1s linear;
      transform: scale(1.1);
    }
  }
}