*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0 0 0 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --sign-size: 124px;
}


@media (max-width: 576px) {
  body {
    --sign-size: 62px;
  }
}